/* Variables */
:root {
  --basic-black: #000000; 
  --basic-dark: #333333;
  --basic-white: #FFFFFF;
  --special-blue: #81B3D2;
  --special-brown: #766357;
  --special-brown-2: #604E43;
  --special-brown-dark: #503E33;
  --grey: #666666;
  --special-grey: #6A6A6A;
  --test-color: rgba(0,0,0,0.3); 
  --test-color-2: rgba(255,255,255,0.3);
  --special-color-light-gray: #CACACA;
  --special-color-blue: #669EC0;
  --special-color-dark-blue: #5496BD;
  --special-color-dark-white: #F2F2F2;
  --special-color-light-grey: #EBEBEB;
  --special-gray: #BDBBBC;
  --color-white: #EEEEEE;

 }

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans")
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  
}
@font-face {
  font-family: "PT Sans-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans-Bold"), local("PTSans-Bold")
       url("PTSans-Bold.woff2") format("woff2"),
       url("PTSans-Bold.woff") format("woff");
  
}
.page-body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  color: var(--basic-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;


  max-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
}
.page-navigation-link {
  color: var(--basic-black);
}

.page-navigation-link:hover {
  color: var(--special-blue);

}
.page-navigation-link:active {
  color: var(--test-color);
}

.current-page-navigaion-link {
  color: var(--special-brown);
}
.page-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  column-gap: 140px;
  margin: 0;
  padding: 0;
  margin: 0 50px;
  color: inherit;
  list-style: none;
  align-items: center;
}
.map-of-the-state {
  position: relative;
  left: 147px;
}
.photo-and-video {
  position: relative;
  right: 133px;
}

.sedona-logo {
  position: absolute;
  left: 571px;
  
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;

}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.main-header {
  margin-bottom: 0;
}

.main-navigation {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  display: grid;
  
  
}

.heading {
  min-height: 452px;
  width: 1200px;
  background-color: var(--special-blue);
  background-image: url(../img/sedona-1page-background.jpg); 
  background-size: 1200px 509px;
  text-align: center;
  color:var(--basic-black);
  
}
.welcome {
  margin-top: 77px;
}

.headline {
  text-align: center;
  color:var(--basic-black);
  margin-top: 42px;
}

.subtitle-p {
  text-align: center;
  margin-bottom: 51px;
}

.five-reasons {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-dark);
}


.reason-item-with-pic {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--special-blue);
  color: var(--basic-white);
  list-style: none;
}

.container-1-element {
  display:grid;
  justify-items: center;
  align-items: center;
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;

}

.features-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 82px;
}

.reason-item-with-pic h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.reason-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color:var(--basic-black)  
}

.container-reasons-2 {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: var(--color-white);
  width: 1200px;
  height: 256px;
  text-align: center;
  padding-top: 47px;
}

.feature-item {
  color: var(--basic-black);
  background-color: var(--basic-white);
  list-style: none;
  color:var(--basic-dark);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding: 0;
  text-align: center;
  margin-top: 60px;

}
.feature-item h3 {
  color: var(--basic-black);
  font-size: 21px;
}

.appointment {
  text-align: center;
}
.appointment-title {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  margin-top: 58px;
   
}

/* кнопка поиск гостиницы */

.btn {

  background-color: var(--special-brown);
  color:var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: 568px;
  height: 86px;
  margin-top: 24px;

}
.btn:hover {
  background-color: #604E43;
}
.btn:active {
  background-color: var(--special-brown-dark);
  color: rgba(255,255,255,0.3);
}
.choice-date {
  width: 1199px;
  height: 475px;
  background-image: url(../img/map.jpg);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color:var(--basic-black);

}
.choice-date-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.choice-item input{
 background-color: var(--special-color-dark-white);
 text-transform: uppercase;
 width: 346px;
 height: 38px;
}
.choice-item-arrival input:hover {
  background-color: var(--special-color-light-grey);
}
.choice-item-arrival input:focus {
  background-color: var(--basic-white);
}
.choice-age-item input {
 background-color: var(--special-color-dark-white);
 text-transform: uppercase;
 width: 114px;
 height: 38px;
}

.age {
  display: flex;
  justify-content: space-around;
}

.search {
  background-color: var(--basic-white);
  width: 568px;
  height: 395px;
  position: absolute;
  left: 356px;

}
.find-btn {
  width: 458px;
  height: 58px;
  background-color: var(--special-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.find-btn:hover {
  background-color: var(--special-color-blue);
}
.find-btn:active {
  background-color: var(--special-color-dark-blue);
  color: var(--test-color-2);
}
/* footer */

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color:var(--basic-black);
  list-style: none;
  
}
.main-footer {
  display: flex;
  justify-content: space-around;

}
.footer-phone {
  color: inherit;
}
.socials li{
  list-style: none;
}

.html-academy:hover {
  fill: var(--special-blue);
}
.html-academy:active {
  opacity: 0.3;
}
.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--special-blue);
}
.socials ul {
  display: flex;
  justify-content: space-between;
}
.soc {
  position: relative;
  margin-left: 6px;
}

.social-icon {
  fill:var(--basic-white);
}
.social-button:hover {
  background-color: var(--special-color-blue);
}
.social-button:active {
  background-color: var(--special-color-dark-blue);
}
.social-button:active path {
  fill: var(--test-color-2);
}

/* second page*/
/* форма с фильтрами  */

.container-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  text-align: center;
}

.filtering {
  background-color: var(--special-blue);
  background-image: url(../img/sedona-2page-background.jpg)
}
.filter-item {
  list-style: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.title-filters {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.prise-range {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
}
::-webkit-input-placeholder{
  color: var(--basic-white);
}

.prise-range-choice {
  list-style: none;
  color: var(--basic-white);
}

.filter-btn {
  background: transparent;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

}
.filter-btn:hover {
  background-color: var(--basic-white);
  color:var(--basic-black);
}

/* Отели и все остальное */

.heding-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.paragraph {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.container-found-filters {
  display: flex;
  justify-content: space-between;
}
.container-btn-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}
.container-arrow {
  display: flex;
  justify-content: flex-end;
}
.container-found {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.btn-filter-choice {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  
}
.btn-filter-choice-price {
  color: var(--special-blue);
}

.btn-filter-choice-type {
  color: var(--test-color);
}
.btn-filter-choice-rating {
  color: var(--test-color);
}
.btn-filter-choice-rating:hover {
  color: var(--special-blue);
}
.btn-filter-choice-rating:active {
  color: var(--basic-black);
}

.arrow {
  color: var(--special-color-light-gray);
}

.arrow:hover {
  color: var(--basic-black);
}
.arrow:active {
  color: var(--special-blue);
}
.container-arrow {
  
  list-style: none;
}
.title-name {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.title-name:hover {
  color: var(--special-blue);
}
.title-name:active {
  color: var(--test-color);
}

 .container-choice-hotels {
   display: grid;
   grid-template-columns: 20% 20% 90%;
   text-align: center;

 }
 .stars {
  color: var(--special-blue);
}
.container-subtitle {
  display: flex;
  justify-content: space-between;

}

.container-hotels {
  list-style: none;
}

.subtitle {
  font-size: 14x;
  line-height: 21px;
  font-weight: 400;
  color:var(--basic-dark);
}
.btn-detail {
  color: var(--basic-white);
  background-color: var(--special-blue);
  text-transform: uppercase;
  font-size: 14x;
  line-height: 21px;
  font-weight: 700;

}
.btn-detail:hover {
  background-color: var(--special-color-blue);
}
.btn-detail:active {
  background-color: var(--special-color-dark-blue);
  color: var(--test-color-2);
}
.btn-book {
  color: var(--basic-white);
  background-color: var(--special-brown);
  text-transform: uppercase;
  font-size: 14x;
  line-height: 21px;
  font-weight: 700;
}
.btn-book:hover {
  background-color: var(--special-brown-2);
}
.btn-book:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--special-brown-dark);
}
.hotel-rating {
  color: var(--grey);
  background: var(--special-color-dark-white);
  padding: 2px;
  display: inline;
}

/* grid */
.page {
  height: 100%;
}