/* Variables */

:root {
  --basic-grey: #888888;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-white: #ffffff;
  --special-blue: #81b3d2;
  --special-brown: #766357;
  --special-brown-2: #604e43;
  --special-brown-dark: #503e33;
  --grey: #666666;
  --special-grey-1: #6a6a6a;
  --test-color: rgba(0, 0, 0, 0.3);
  --test-color-2: rgba(255, 255, 255, 0.3);
  --test-color-3: rgba(255, 255, 255, 0.9);
  --special-color-light-gray: #cacaca;
  --special-color-blue: #669ec0;
  --special-color-dark-blue: #5496bd;
  --special-color-dark-white: #f2f2f2;
  --special-color-light-grey: #ebebeb;
  --special-gray: #bdbbbc;
  --color-white: #eeeeee;
  --special-grey-2: #a9a9a9;
  --special-color-gray: rgba(0, 0, 0, 0.25);
  --color-brown: #ababab;
  --special-color-grey: #e5e5e5;
  --page-shadow-color: rgba(0, 1, 1, 0.2);
  --toggle-color: rgba(171, 171, 171, 0.3);
  --color-red: #e32636;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans-Bold"), local("PTSans-Bold"),
    url("PTSans-Bold.woff2") format("woff2"),
    url("PTSans-Bold.woff") format("woff");
}

.page {
  background-color: var(--special-color-dark-white);
}

.page-body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  max-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px var(--page-shadow-color);
}

.navigation-item {
  width: 223px;
}

.navigation-item:nth-child(4n),
.navigation-item:nth-child(4n-1) {
  text-align: right;
}

.navigation-item:nth-child(4n-2),
.navigation-item:nth-child(4n-3) {
  text-align: left;
}

.navigation-item:nth-child(4n-2) {
  margin-right: 151px;
}

.page-navigation-link {
  color: var(--basic-black);
}

.page-navigation-link:hover {
  color: var(--special-blue);
}

.page-navigation-link:active {
  color: var(--test-color);
}

.current-page-navigaion-link {
  color: var(--special-brown);
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px 72px;
  margin: 0;
  color: inherit;
  list-style: none;
  align-items: center;
  margin-bottom: -29px;
  flex-wrap: wrap;
}

.page-navigation-hotels,
.page-navigation-hotels:hover,
.page-navigation-hotels:focus,
.page-navigation-hotels:active {
  color: var(--special-brown);
}

.sedona-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.container {
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.main-header {
  margin-bottom: 0;
}

.main-navigation {
  display: grid;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.heading {
  min-height: 509px;
  width: 1200px;
  background-color: var(--special-blue);
  background-image: url(../img/sedona-part-of-background-2.svg),
    url(../img/sedona-1page-background.jpg);
  background-position: bottom, top;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--basic-black);
}

.welcome {
  margin-top: 76px;
}

.headline {
  text-align: center;
  color: var(--basic-black);
  margin-top: 35px;
  margin-bottom: 10px;
  padding-top: 8px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.subtitle-p {
  text-align: center;
  padding-top: 32px;
}

.five-reasons {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.reasons-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: -15px;
}

.reason-item-divels-bridge {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--special-blue);
  color: var(--basic-white);
  list-style: none;
  max-width: 1200px;
  margin-top: -10px;
}

.reason-item-divels-bridge h3 {
  padding-top: 5px;
}

.container-1-element {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--special-blue);
  color: var(--basic-white);
  list-style: none;
  max-width: 1200px;
  margin-top: 54px;
  text-align: center;
  margin-bottom: 31px;
  max-height: 256px;
}

.container-2-element {
  text-align: center;
}

.container-2-element p {
  padding-top: 12px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.house-item {
  background-image: url(../img/house-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 12%;
}

.food-item {
  background-image: url(../img/food-icon.svg);
  background-repeat: no-repeat;
  /* margin-left: -3px; */
  background-position: 50% 13%;
}

.gift-item {
  background-image: url(../img/gift-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 11%;
}

.feature-item {
  color: var(--basic-black);
  background-color: var(--basic-white);
  list-style: none;
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding-top: 82px;
  max-width: 290px;
  padding-left: 56px;
  padding-right: 54px;
  padding-bottom: 78px;
}

.feature-item-text {
  padding-top: 4px;
}

.feature-item h3 {
  color: var(--basic-black);
  font-size: 21px;
}

.item-reasons {
  list-style: none;
}

.reason-item-with-pic {
  list-style: none;
}

.reason-item-with-pic h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 47px;
}

.reason-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 120px;
  color: var(--basic-black);
}

.reason-item p {
  text-align: center;
  padding-bottom: 39px;
}

.reason-town p {
  margin-top: 29px;
}

.reason-3 span {
  padding-top: 10px;
  margin-left: 114px;
}

.reason-3 {
  max-width: 207px;
}

.reason-3 h3 {
  padding-left: 45px;
  padding-top: 2px;
  margin-left: 56px;
  margin-bottom: 26px;
}

.reason-3 p {
  margin-right: -79px;
  margin-left: 35px;
  margin-top: 22px;
}

.reason-4 {
  max-width: 258px;
  padding-left: 74px;
}

.reason-4 h3 {
  margin-left: 40px;
  margin-top: 22px;
  margin-bottom: 26px;
}

.reason-4 p {
  margin-top: 23px;
  margin-right: 53px;
  margin-left: -29px;
  width: 258px;
}

.reason-4 span {
  margin-right: 57px;
}

.reason-5 {
  max-width: 246px;
  padding-left: 77px;
}

.reason-5 h3 {
  margin-left: 50px;
  margin-top: 22px;
  margin-bottom: 26px;
}

.reason-5 p {
  margin-top: 24px;
  margin-left: -19px;
  width: 258px;
}

.reason-5 span {
  margin-right: 25px;
}

.container-reasons-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
  background-color: var(--color-white);
  margin-bottom: 0px;
  padding-top: 25px;
}

.appointment {
  text-align: center;
}

.appointment-title {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  margin-top: 59px;
  margin-right: 10px;
  margin-bottom: 34px;
}

/* кнопка поиск гостиницы */

.btn {
  background-color: var(--special-brown);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: 568px;
  height: 86px;
  margin-top: 33px;
  margin-right: -1px;
  border: 0;
}

.btn:hover {
  background-color: var(--special-brown-2);
}

.btn:active {
  background-color: var(--special-brown-dark);
  color: var(--test-color-2);
}

.map-section {
  position: relative;
  height: 594px;
  margin-bottom: -120px;
}

.map-src {
  position: absolute;
  border: 0;
  z-index: 1;
}

.map-iframe {
  position: absolute;
  top: 0;
}

.location-map-img {
  position: relative;
}

.choice-date {
  position: absolute;
  bottom: 79px;
  left: 50.1%;
  margin-left: -284px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--basic-white);
  width: 568px;
  min-height: 395px;
  border: 0;
  box-shadow: 0 5px 15px 0 var(--page-shadow-color);
  box-sizing: border-box;
  z-index: 2;
}

.choice-date-close {
  display: none;
}

fieldset {
  border: 0;
}

.choice-item-arrival {
  padding-top: 54px;
  padding-left: 44px;
}

.choice-item-departure {
  padding-left: 44px;
  padding-top: 29px;
}

.choice-item-departure input {
  width: 329px;
  height: 25px;
  padding-left: 11px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.choice-age-item {
  display: flex;
  flex-direction: row;
}

.choice-item input {
  background-color: var(--special-color-dark-white);
  text-transform: uppercase;
  border: 2px solid var(--special-color-dark-white);
}

.choice-item-arrival input {
  width: 329px;
  height: 26px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 3px;
}

.choice-item input:hover {
  background-color: var(--special-color-light-grey);
  border: 2px solid var(--special-color-light-grey);

}

.choice-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-color-grey);
}

.inpute-item-quantity {
  background-color: var(--special-color-dark-white);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 110px;
  text-align: center;
}

.search input {
  border: 0;
}

.age {
  display: flex;
  justify-content: space-around;
  padding-top: 29px;
}

.age input {
  width: 23px;
  height: 23px;
  margin-right: -4px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.age button {
  border: none;
  width: 37px;
  height: 37px;
  padding-top: 9px;
  background-color: var(--special-color-dark-white);
}

.label-date-arrival {
  padding-right: 24px;
  margin-left: 10px;
  padding-top: 7px;
}

.label-date-departure {
  padding-right: 20px;
  margin-left: 11px;
  padding-top: 7px;
}

.label-adult {
  padding-right: 43px;
  padding-right: 42px;
  margin-left: -8px;
  padding-top: 7px;
}

.label-children {
  margin-right: 31px;
  margin-left: -88px;
  padding-top: 7px;
  padding-left: 16px;
}

.btn-calendar-first {
  padding-left: 25px;
  padding-right: 10px;
  margin-left: -35px;
  border: 0;
  background-color: transparent;
}

.calendar-1 {
  position: absolute;
  transform: translateY(-11px) translateX(-20px);
  fill: var(--special-grey-2);
}

.calendar-1:hover {
  fill: var(--basic-black);
}

.calendar-1:active {
  fill: var(--special-blue);
}

.btn-calendar-second {
  padding-left: 17px;
  padding-right: 17px;
  margin-left: -34px;
  border: 0;
  background-color: transparent;
}

.calendar-2 {
  position: absolute;
  transform: translateY(-11px) translateX(-13px);
  fill: var(--special-grey-2);
}

.calendar-2:hover {
  fill: var(--basic-black);
}

.calendar-2:active {
  fill: var(--special-blue);
}

.less-first {
  position: absolute;
  transform: translateX(-5px) translateY(-5px);
  fill: var(--special-grey-2);
}

.less-first:hover {
  fill: var(--basic-black);
}

.less-first:active {
  fill: var(--special-blue);
}

.more-first {
  position: absolute;
  transform: translateX(-8px) translateY(-9px);
  fill: var(--special-grey-2);
}

.more-first:hover {
  fill: var(--basic-black);
}

.more-first:active {
  fill: var(--special-blue);
}

.btn-less-1 {
  margin-left: -2px;
  margin-right: 2px;
}

.btn-more-1 {
  margin-left: 7px;
}

.less-second {
  position: absolute;
  transform: translateX(-5px) translateY(-5px);
  fill: var(--special-grey-2);
}

.less-second:hover {
  fill: var(--basic-black);
}

.less-second:active {
  fill: var(--special-blue);
}

.more-second {
  position: absolute;
  transform: translateX(-3px) translateY(-9px);
  fill: var(--special-grey-2);
}

.more-second:hover {
  fill: var(--basic-black);
}

.more-second:active {
  fill: var(--special-blue);
}

.aw,
.aw-2 {
  background-color: var(--special-color-dark-white);
}

.btn-more-children {
  margin-left: 4px;
  margin-right: -5px;
}

.btn-less-children {
  margin-left: -5px;
  margin-right: 2px;
}

.find-btn {
  width: 458px;
  height: 58px;
  background-color: var(--special-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  margin-top: 55px;
  padding-top: 2px;
}

.choice-item {
  display: flex;
  flex-direction: row;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

/* input[type="text"]::-moz-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
} */

.input-item-date::placeholder {
  color: var(--basic-black);
  opacity: 1;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.inpute-item-quantity::placeholder {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  opacity: 1;
}

.find-btn:hover {
  background-color: var(--special-color-blue);
}

.find-btn:active {
  background-color: var(--special-color-dark-blue);
  color: var(--test-color-2);
}

/* footer */

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  list-style: none;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1;
  background-color: var(--test-color-3);
  text-align: center;
  padding-bottom: 20px;
  padding-right: 58px;
  padding-left: 56px;
}

.footer-phone {
  color: inherit;
}

.socials {
  margin-top: 19px;
}

.html-academy:hover {
  fill: var(--special-blue);
}

.html-academy:active {
  opacity: 0.3;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--special-blue);
}

.socials ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.soc {
  position: relative;
  list-style: none;
  margin: 3px;
}

.social-icon {
  fill: var(--basic-white);
}

.social-button:hover {
  background-color: var(--special-color-blue);
}

.social-button:active {
  background-color: var(--special-color-dark-blue);
}

.social-button:active path {
  fill: var(--test-color-2);
}

.logo-academy {
  display: flex;
  justify-content: space-around;
}

.logo-academy p {
  padding-top: 10px;
}

.html-academy {
  position: relative;
  left: 6px;
  top: 13px;
}

.visit-sedona {
  padding-top: 3px;
}

.phone {
  margin-top: -13px;
}

/* second page*/

.filters-form {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 1px;
  margin-bottom: -36px;
  margin-top: 20px;
}

.infrastructure {
  padding-left: 70px;
}

.type-of-house {
  padding-left: 25px;
}

.price-per-day {
  margin-left: 200px;
  position: relative;
  padding-bottom: 32px;
}

.filtering {
  background-color: var(--special-blue);
  background-image: url(../img/sedona-2page-background.jpg);
  padding-bottom: 21px;
}

.filter-item {
  list-style: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-bottom: 25px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 1px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 1px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off-disabled.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on-disabled.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:hover + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 1px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked:hover + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}
.filter-input-checkbox:focus:not(:checked) + label::before {
  outline: 2px solid var(--color-red);
}

.filter-input-checkbox:checked:focus + label::after {
  outline: 2px solid var(--color-red);
}

.filter-input-checkbox label {
  padding-top: 50px;
}

.title-filters {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding-top: 25px;
  padding-right: 20px;
  margin-bottom: 5px;
}

.prise-range {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
}

.prise-range-choice input::placeholder {
  color: var(--basic-white);
  opacity: 1;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 10px;
}

.prise-range-choice input {
  width: 48%;
  height: 19px;
  text-align: center;
  padding-right: 0px;
  border: none;
  padding-left: 4px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.range-filter {
  width: 350px;
  overflow: hidden;
  margin-bottom: 33px;
  margin-top: -9px;
}

.prise-range-choice::before {
  position: absolute;
  content: "";
  left: -2px;
  top: 0;
  width: 313px;
  height: 32px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  
}
.prise-range-choice::after {
  position: absolute;
  content: "";
  background: var(--basic-white);
  height: 24px;
  width: 2px;
  left: 50%;
  top: 7px;
}


.prise-range-choice {
  list-style: none;
  color: var(--basic-white);
  width: 317px;
  position: relative;
}

/* .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--color-brown);
  border-radius: 50%;
  box-shadow: 0 4px 0 -1px var(--toggle-color);
  position: absolute;
  top: 53px;
  cursor: pointer;
}

.toggle:hover {
  width: 4.5px;
  height: 4.5px;
  padding: 0;
  border: 9px solid var(--basic-white);
  background-color: var(--color-brown);
  border-radius: 50%;
  box-shadow: 0 4px 0 -1px var(--toggle-color);
  position: absolute;
  top: 53px;
  cursor: pointer;
}

.range-controls {
  position: relative;
  height: 20px;
  margin-top: -9px;
  margin-bottom: 15px;
}

.toggle-min {
  left: 0;
  top: -10px;
}

.toggle-max {
  left: 250px;
  top: -10px;
} */
.toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--color-brown);
  border-radius: 50%;
  box-shadow: 0 4px 0 -1px var(--toggle-color);
  position: absolute;
  top: 53px;
  cursor: pointer;
}

.toggle:hover {
  width: 4.5px;
  height: 4.5px;
  padding: 0;
  border: 9px solid var(--basic-white);
  background-color: var(--color-brown);
  border-radius: 50%;
  box-shadow: 0 4px 0 -1px var(--toggle-color);
  position: absolute;
  top: 53px;
  cursor: pointer;
}

.toggle-min {
  left: 10px;
}

.toggle-max {
  left: 263px;
}
.filter-btn {
  background: transparent;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid var(--basic-white);
  width: 137px;
  height: 36px;
  margin-left: 85px;
}

.filter-btn:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.scale {
  height: 0;
  background: var(--color-brown);
  border: 1px solid var(--special-color-gray);
  box-shadow: 0px 4px 4px var(--special-color-gray);
  width: 313px;
  margin-top: 28px;
}

.bar {
  height: 2px;
  background: var(--basic-white);
  width: 260px;
  margin-top: -1px;
}

/* Отели и все остальное */

.heding-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 73px;
  margin-top: 24px;
}

.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 5px;
  padding-top: 2px;
}

.paragraph {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 47px;
  margin-top: 6px;
  margin-right: -25px;
}

.container-found-filters {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.list-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-right: 442px;
  padding-left: 16px;
  padding-top: 14px;
}

.container-arrow {
  display: flex;
  justify-content: flex-end;
  margin-right: 72px;
  padding-top: 21px;
}

.container-found {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
}

.btn-filter-choice {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border: 0;
}

.btn-filter-choice-price {
  color: var(--special-blue);
  padding-left: 38px;
}

.btn-filter-choice-type {
  color: var(--test-color);
  padding-left: 12px;
  border-bottom: 1px dotted var(--special-blue);
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 26px;
}

.btn-filter-choice-type:hover {
  color: var(--special-blue);
  border-bottom: 1px dotted;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.btn-filter-choice-type:active {
  color: var(--basic-black);
  border: none;
}

.btn-filter-choice-rating {
  color: var(--test-color);
  border-bottom: 1px dotted var(--special-blue);
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 16px;
}

.btn-filter-choice-rating:hover {
  color: var(--special-blue);
  border-bottom: 1px dotted;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.btn-filter-choice-rating:active {
  color: var(--basic-black);
  border: none;
}

.arrow {
  color: var(--special-color-light-gray);
  padding-left: 9px;
}

.arrow:hover {
  color: var(--basic-black);
}

.arrow:active {
  color: var(--special-blue);
}

.arrow-second {
  color: var(--special-blue);
}

.container-arrow {
  list-style: none;
}

.title-name {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.title-name:hover {
  color: var(--special-blue);
}

.title-name:active {
  color: var(--test-color);
}

.container-choice-hotels {
  display: grid;
  grid-template-columns: 15% 21% 64%;
  text-align: center;
}

.stars-1 {
  position: absolute;
  left: 10px;
  width: 90px;
  height: 17px;
  background-repeat: space;
  background-image: url(../img/star.svg);
  left: 1026px;
  bottom: 380px;
}

.container-rating-stars {
  margin-top: 66px;
}

.container-subtitle {
  display: flex;
  color: var(--basic-dark);
}

.container-hotels {
  position: relative;
  list-style: none;
  margin-left: 13px;
  margin-bottom: 26px;
}

.amara-resort-1 {
  padding-top: 31px;
  background-image: url(../img/rectangle.svg);
  background-repeat: no-repeat;
  background-position: -27px 0px;
  background-size: 1255px 1px;
  margin-left: -53px;
  padding-left: 56px;
  margin-top: -6px;
}

.amara-resort-1 h3 {
  margin-top: -5px;
  margin-left: -15px;
}

.subtitle-1 {
  padding-left: 9px;
  margin-top: -15px;
}

.subtitle-2 {
  padding-left: 39px;
  margin-top: -16px;
}

.conttainer-rating-stars {
  margin-left: 495px;
  margin-top: 45px;
}

.hotel-rating {
  color: var(--grey);
  background: var(--special-color-dark-white);
  padding: 2px;
  display: inline;
}

.hotel-rating-1 {
  padding: 5px 14px;
  margin-left: 481px;
}

.stars-2 {
  position: absolute;
  left: 10px;
  width: 68px;
  height: 17px;
  background-repeat: space;
  background-image: url(../img/star.svg);
  left: 1049px;
  bottom: 230px;
}

.subtitle {
  font-size: 14x;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
}

.desert-quail-2 {
  margin-top: 19px;
  background-image: url(../img/rectangle.svg);
  background-repeat: no-repeat;
  background-position: 9px 5px;
  padding-top: 37px;
  padding-left: 64px;
  margin-left: -62px;
}

.desert-quail-2 h3 {
  margin-top: -6px;
  margin-left: -48px;
}

.subtitle-desert-1 {
  padding-left: 11px;
  margin-top: -15px;
}

.subtitle-desert-2 {
  padding-left: 63px;
  margin-top: -14px;
}

.hotel-rating-2 {
  margin-right: -481px;
  padding: 5px 14px;
}

.subtitle-villas-1 {
  margin-top: -16px;
  padding-left: 9px;
}

.subtitle-villas-2 {
  margin-top: -15px;
  margin-left: 23px;
}

.container-rating-stars-1 {
  margin-top: 66px;
}

.container-rating-stars-1 p {
  margin-top: 30px;
}

.container-btn {
  display: flex;
  margin-left: 11px;
}

.villas-3 {
  margin-top: 22px;
  margin-left: -54px;
  background-image: url(../img/rectangle.svg);
  background-repeat: no-repeat;
  background-position: 1px 1px, 2px 2px;
  padding-top: 30px;
  padding-left: 56px;
}

.villas-3 h3 {
  margin-top: -2px;
  margin-left: 1px;
}

.hotel-rating-3 {
  margin-right: -481px;
  padding: 5px 14px;
}

.container-rating-stars-2 {
  margin-top: 67px;
}

.stars-3 {
  position: absolute;
  left: 10px;
  width: 41px;
  height: 17px;
  background-repeat: space;
  background-image: url(../img/star.svg);
  left: 1075px;
  bottom: 78px;
}

.btn-detail {
  color: var(--basic-white);
  background-color: var(--special-blue);
  text-transform: uppercase;
  font-size: 14x;
  line-height: 21px;
  font-weight: 700;
  border: 0;
  height: 27px;
  margin-right: 6px;
  padding-left: 18px;
  padding-right: 16px;
  margin-left: -2px;
}

.btn-detail:hover {
  background-color: var(--special-color-blue);
}

.btn-detail:active {
  background-color: var(--special-color-dark-blue);
  color: var(--test-color-2);
}

.btn-book {
  color: var(--basic-white);
  background-color: var(--special-brown);
  text-transform: uppercase;
  font-size: 14x;
  line-height: 21px;
  font-weight: 700;
  border: 0;
  height: 27px;
  margin-left: -1px;
  padding-left: 17px;
  padding-right: 17px;
}

.btn-book:hover {
  background-color: var(--special-brown-2);
}

.btn-book:active {
  color: var(--test-color-2);
  background-color: var(--special-brown-dark);
}
.line-footer {
  border-top: 1px solid var(--special-color-grey);
}
/*.main-footer-2-page {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  background-color: var(--test-color-3);
  text-align: center;
  margin-top: 9px;
  background-image: url(../img/rectangle.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-top: 3px;
}

.visit-sedona-2-page {
  padding-left: 34px;
}

.html-academy-2-page {
  position: absolute;
  left: 187px;
  top: 36px;
}

.html-academy-2-page:focus {
  outline: 2px solid var(--color-red);
}

.html-academy:focus {
  outline: 2px solid var(--color-red);
}

.phone-2-page {
  padding-left: 36px;
  margin-top: -12px;
}

.socials-2-page ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
*/
/* grid */

.page {
  height: 100%;
}

/* .logo-academy-2-page {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
}

.logo-academy-2-page p {
  padding-top: 36px;
  padding-right: 114px;
} */

.choice-date {
  /* display: block; */
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-86px);
  }
  100% {
    transform: translateY(0px);
  }
}
